{% extends "base.html" %}

{% block title %}Courses | Study Guideline Portal{% endblock title %}

{% block content %}
{% load static %}
<div class="courses-header container-fluid">
    <h1>Courses</h1>
</div>
<div class="container-fluid">
    <section class="container all-courses py-5">

        <div class="row">
            <div class="col-md-8">
                <input type="text" id="course-search" placeholder="Search Courses" class="search-input">
            </div>
            <div class="col-md-4">
                <span>Filter Courses By: </span>
                <select id="department-select">
                    <option value="all">All Departments</option>
                    {% for department in all_departments %}
                    <option value="{{department.dep_name}}">{{department.dep_name}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <hr>
        
        <div class="row">

            <div class="col-md-12 px-md-5">
                <h2 class="course-heading">All Featured Courses</h2>
                <div id="no-courses-message" style="display: none;">No courses available for the selected department.</div>
                <div class="row course-container">

                    <!-- Course Card  -->
                    {% for course, first_lesson, no_of_lessons in course_details %}
                    <div class="col-sm-6 col-md-4 col-xl-3 mb-3 course-wrapper wow fadeIn">
                        {% if first_lesson %}
                        <a class="course-card-link" href="/{{course.course_slug}}/{{first_lesson}}">
                        {% else %}
                        <a class="course-card-link disabled" style="cursor: not-allowed;" href="#">
                        {% endif %}
                        
                            <div class="card course-card border-0 p-0 shadow">
                                <div class="course-img">
                                    <img src="/media/{{course.course_pic}}" alt="">
                                </div>
                                <div class="course-info">
                                    <!-- <small class="category">{{course.department.dep_name}}</small> -->
                                    <div class="dep_list">
                                        {% for dep in course.department.all %}
                                        <small class="category">{{dep.dep_name}}</small>
                                        {% endfor %}
                                    </div>
                                    <h4>{{course.course_name}}</h4>
                                    <div class="course-meta">
                                        <span style="font-size: 16px;">Lessons : {{no_of_lessons}}</span>

                                        {% if first_lesson %}
                                        <a href="/{{course.course_slug}}/{{first_lesson}}" class="course-link"><i
                                                class="fa-sharp fa-solid fa-arrow-right"></i>
                                        </a>
                                        {% else %}
                                        <button disabled class="course-link"><i
                                                class="fa-sharp fa-solid fa-arrow-right text-center"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>


        </div>
    </section>
</div>

{% endblock content %}

{% block customscript %}

<!-- Sort course based on departments  -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const departmentSelect = document.getElementById('department-select');
        const courseWrappers = Array.from(document.querySelectorAll('.course-wrapper'));
        const courseHeading = document.querySelector('.course-heading');
        const noCoursesMessage = document.getElementById('no-courses-message');


        // Function to filter courses based on departments 
        const filterByDepartment= ()=>{
            const selectedDepartment = departmentSelect.value;
            let coursesFound = false;

            // Changing heading of the page 
            if(selectedDepartment === 'all'){
                courseHeading.textContent = "All Featured Courses";
            } else{
                courseHeading.textContent = selectedDepartment+"'s Courses";
            }

            // Sort the courses 
            courseWrappers.forEach(function (wrapper) {
                const cardDepartments = Array.from(wrapper.querySelectorAll('.category'));
                const displayCourse = cardDepartments.some(department => {
                    return selectedDepartment === 'all' || department.textContent.toLowerCase() === selectedDepartment.toLowerCase();
                });

                // Display or hide the courses 
                if (displayCourse) {
                    wrapper.style.display = 'block';
                    coursesFound = true;
                } else {
                    wrapper.style.display = 'none';
                }

                // Toggeling no course message 
                if (coursesFound) {
                    noCoursesMessage.style.display = 'none';
                } else {
                    noCoursesMessage.style.display = 'block';
                }
            });
        }




        departmentSelect.addEventListener('change', function () {
            filterByDepartment()
        });

 
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const courseWrappers = Array.from(document.querySelectorAll('.course-wrapper'));
        const courseSearchInput = document.getElementById('course-search');
        const courseList = document.querySelector('.course-container');
        const noCoursesMessage = document.getElementById('no-courses-message');
    
        courseSearchInput.addEventListener('input', function() {
            searchCourses();
        });
    
        function searchCourses() {
            const searchText = courseSearchInput.value.toLowerCase().trim();
    
            let coursesFound = false;
    
            courseWrappers.forEach(function(wrapper) {
                const courseTitle = wrapper.querySelector('h4').textContent.toLowerCase();
    
                if (courseTitle.includes(searchText)) {
                    wrapper.style.display = 'block';
                    coursesFound = true;
                } else {
                    wrapper.style.display = 'none';
                }
            });
    
            if (coursesFound) {
                noCoursesMessage.style.display = 'none';
            } else {
                noCoursesMessage.style.display = 'block';
            }
        }
    });
    </script>
    

{% endblock customscript %}