{% extends "adminbase.html" %}
{% block title %}Dashboad | SGP{% endblock title %}


{% block content %}


<!-- Main Content Section -->
<div class="page-wrapper">
   <div class="content container-fluid">

      <div class="page-header">
         <div class="row">
            <div class="col-sm-12">
               <h3 class="page-title">Welcome <b>{{request.user.first_name}} {{request.user.last_name}}</b></h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item active">Dashboard</li>
               </ul>
            </div>
         </div>
      </div>
      <hr>

      <div class="row">
         <div class="col-3">
            <div class="dash-cards shadow">
               <a href="{% url 'Users' %}">
                  <h1>Users</h1>
               </a>
               <p>{{total_users}}</p>
            </div>
         </div>
         <div class="col-3">
            <div class="dash-cards shadow">
               <a href="{% url 'Courses' %}">
                  <h1>Courses</h1>
               </a>
               <p>{{total_courses}}</p>
            </div>
         </div>
         <div class="col-3">
            <div class="dash-cards shadow">
               <a href="{% url 'Lessons' %}">
                  <h1>Lessons</h1>
               </a>
               <p>{{total_lesson}}</p>
            </div>
         </div>
         <div class="col-3">
            <div class="dash-cards shadow">
               <a href="#">
                  <h1>Questions</h1>
               </a>
               <p>{{total_questions}}</p>
            </div>
         </div>
         <div class="col-3">
            <div class="dash-cards shadow">
               <a href="#">
                  <h1>Asnwers</h1>
               </a>
               <p>{{total_answers}}</p>
            </div>
         </div>
         <div class="col-3">
            <div class="dash-cards shadow">
               <a href="#">
                  <h1>Ratings</h1>
               </a>
               <p>{{total_lessonReviews}}</p>
            </div>
         </div>

      </div>


   </div>

</div>
{% endblock content %}