{% extends "adminbase.html" %}
{% block title %}Lessons | SGP{% endblock title %}

{% block content %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Lessons</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/admin1">Dashboard</a></li>
                  <li class="breadcrumb-item active">Lessons</li>
               </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
               <a href=" {% url 'AddLesson' %} " class="btn btn-primary">Add Lesson <span class="fa fa-plus
                        ml-1"></span></a>
            </div>
         </div>
      </div>
      <hr>
      <div class="row">
         <div class="col-sm-12">
            <div class="card card-table">
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover table-center mb-0 mydatatable">
                        <thead>
                           <tr>
                              <th>ID</th>
                              <th>Title</th>
                              <th>Course</th>
                              <th>Date</th>
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        <tbody>

                           {% for lesson in lessons %}
                           <tr>
                              <td>{{lesson.lesson_id}}</td>
                              <td>
                                 <h2 class="table-avatar">
                                    <a href="/admin1/lesson-details/{{lesson.lesson_slug}}">{{lesson.lesson_title }}</a>
                                 </h2>
                              </td>
                              <td>{{lesson.course.course_name}}</td>
                              <!-- <td>{{lesson.views}}</td> -->
                              <!-- <td>{{lesson.lesson_slug}}</td> -->
                              <td>{{lesson.time}}</td>
                              <td class="text-right">
                                 <div class="actions">
                                    <a href="/admin1/lesson-details/{{lesson.lesson_slug}}"
                                       class="btn btn-sm border-1 mr-2 view-btn">
                                       <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="/admin1/update-lesson/{{lesson.lesson_slug}}"
                                       class="btn btn-sm mr-2 update-btn">
                                       <i class="fas fa-pen"></i>
                                    </a>
                                    <a href="/admin1/delete-lesson/{{lesson.lesson_slug}}"
                                       class="btn btn-sm delete-btn">
                                       <i class="fas fa-trash"></i>
                                    </a>
                                 </div>
                              </td>
                           </tr>
                           {% endfor %}


                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>

{% endblock content %}
