{% extends "adminbase.html" %}

{% block title %}Update Course| SGP{% endblock title %}Update | SGP


{% block content %}
<div class="page-wrapper">

   <div class="content container-fluid">

      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Edit Course</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'Dashboard' %}">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'Courses' %}">Courses</a></li>
                  <li class="breadcrumb-item active">{{course.course_name}}</li>
               </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
               <!-- <a href="#" class="btn btn-primary">Add Users <span class="fa fa-plus
                        ml-1"></span></a> -->
               <!-- <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-plus"></i> Download</a>
                  <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a> -->
            </div>
         </div>
      </div>

      <hr>

      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Course Information</span></h5>
                        </div>

                        <div class="col-12">
                           <div class="form-group">
                              <label>Course Name</label>
                              {{ form.course_name }}
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group">
                              <label>Course Image</label>
                              {{ form.course_pic }}
                           </div>
                        </div>
                        <div class="col-12">
                           <label>Department</label>
                           <div class="form-group form-check-inline add-dep-div">
                              {{ form.department }}
                           </div>
                        </div>

                        <div class="col-12">
                           <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                     </div>

                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}